<h1><%= @artist.name %></h1>

<%= image_tag @artist.image_url, :size => "260x180" %>
<br><br>
<p>Bio: <%= @artist.bio %></p>

<hr>

<div class = "list_container">
  <h3>Albums For This Artist</h3>

  <% if @artist.albums.any?  %>
    <div class="row">
      <% @artist.albums.each do |album| %>
        <div class="col-md-3 layout"><p><%= link_to album.album_name, album_path(album) %></p>
        <%= image_tag album.album_image_url, :size => "150x150" %></div>
      <% end %>
    </div>
  <% else %>
    <p>There are no albums for this artist</p>
  <% end %>
</div>
<hr>
<div>
  <%= link_to "Update Artist", edit_artist_path(@artist.id), class: "btn btn-primary" %>
  <%= link_to "Add new Album", new_album_path, class: "btn btn-primary" %>
  <%= link_to "Delete Artist", artist_path(@artist.id), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-primary" %>
  <%= link_to "Back To Artists", artists_path, class: "btn btn-primary" %>
</div>
