<h1><%= @artist.name %></h1>

<%= image_tag @artist.image_url, :size => "260x180" %>
<br><br>
<p>Bio: <%= @artist.bio %></p>

<hr>

<div class = "list_container">
  <h3>Albums For This Artist</h3>
  <% if @artist.albums.any?  %>
  <%= render 'artistalbums' %>
  <% else %>
    <p>There are no albums for this artist</p>
  <% end %>
</div>
<hr>

<div>
  <%= link_to "Update Artist", edit_artist_path(@artist.id), class: "btn btn-primary" %>
  <%= link_to "Delete Artist", artist_path(@artist.id), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-primary" %>
  <%= link_to "Back To Artists", artists_path, class: "btn btn-primary" %>
<%= link_to "Remove All", remove_all_albums_path, :method => :get, :class => 'btn btn-primary' %>
</div>

<br>
<hr>
<h3>Add New Album</h3>

<br>

<%= render partial: 'albums/newalbum',  locals: {album: @album} %>
