<h1><%= @artist.name %></h1>

<p>Bio: <%= @artist.bio %></p>

<%= image_tag @artist.image_url, :size => "260x180" %>

<br><br>
<hr>


<div>
  <%= link_to "Update", edit_artist_path(@artist.id), class: "btn btn-primary" %>
  <%= link_to "Delete", artist_path(@artist.id), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-primary" %>
  <%= link_to "Back To Artists", artists_path, class: "btn btn-primary" %>
</div>
