<h1>Albums</h1>

<span class="sort">
  <div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
      Sort by
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li><%= link_to "Added (first)", albums_path(sort_by: "oldest") %></li>
      <li><%= link_to "Added (last)", albums_path(sort_by: "newest") %></li>
      <li><%= link_to "Name", albums_path(sort_by: "name") %></li>
    </ul>
  </div>
</span>
<br>
<table>
  <tbody>
    <% @albums.each do |album| %>
      <tr>
        <td><%= image_tag album.album_image_url, :size => "150x150" %></td>
        <td><%= album.album_name %></td>
        <td><%= album.released %></td>
        <td><%= link_to 'Show', album %></td>
        <td><%= link_to 'Edit', edit_album_path(album) %></td>
        <td> <%= link_to 'Destroy', album, method: :delete, data: { confirm: 'Are you sure?' }, :remote => true, :class => 'delete_album' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "Remove All", remove_all_albums_path, :method => :get, :remote => true, :class => 'delete_album' %>
